.services {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.service {
    display: flex;
    align-items: center;
    width: 100%;
}

.service-img {
    flex: 5;
    overflow: hidden;
}

.service-content {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 30px;
}

.service-img img {
    height: 450px;
    width: 550px;
    object-fit: cover;
    transition: .25s ease;
    filter:grayscale(1);
    border-radius: 1.5rem;
}

.service:hover .service-img img{
    filter:grayscale(0);
}

.service-content h3 {
    text-align: left;
    font-size: 2.5em;
    text-transform: uppercase;
}

.service-content p {
    text-align: left;
    font-size: 1.3em;
    width: 500px;
}
