.team-page {
  padding: 2vw;
}
.team-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80vh;
  background-color: #ffffff;
  background-image: linear-gradient(135deg, #ffffff 0%, #5899e2 74%);
  border-radius: 2rem;
  margin-bottom: 2vw;
}

.team-card:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
}

.team-img {
  padding:7vw;
}

.team-img img {
  border-radius: 1.75rem;
  object-fit: cover;
  height: 30vw;
  width: 30vw;
}

.team-info {
  padding: 3vw 7vw;
  color: white;
}

.team-info h2 {
  font-size: 3vw;
}
.team-info h3 {
  font-size: 1.5vw;
  opacity: 0.8;
  font-weight: 400;
}

.team-info h4 {
  font-size: 1.75vw;
  margin: 1vw 0;
}

.team-info p {
  margin: 0.8vw 0;
  font-size: 1.25vw;
}

span {
  font-weight: bold;
}

.portait-image{
  object-position: top;
}
@media screen and (max-width: 770px){
  .team-card,.team-card:nth-child(2n){
    flex-direction: column;
    background-image: linear-gradient(135deg, #ffffff 0%, #5899e2 74%);
  }
  
}
@media screen and (max-width: 450px){
  .team-info h2 {
    font-size: 2rem;
  }
  .team-info h3 {
    font-size: 1.3rem;
  }
  .team-info h4 {
    font-size: 1.25rem;
  }
  .team-info p{
    font-size: 1rem;
  }
  .team-img img{
    height: 40vw;
    width: 40vw;
  }
  .team-info p{
    margin: 1.5vw 0;
  }
}