.tech-section{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-section:nth-child(2n){
    flex-direction: row-reverse;
}

.tech-img img{
    height: 50vh;
    width: 100%;
    border-radius: 2.5rem;
}

.tech-content div{
    padding: 30px;
    flex: 7;
}

.tech-content div h3{
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color:darkred
}

.tech-content div p{
    font-size: 1.25rem;
}

@media screen and (max-width:770px) {
    .tech-section{
        padding: 15px;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:500px) {
    .tech-section{
        padding: 10px;
        flex-direction: column-reverse;
    }
    .tech-content div{
        padding: 10px;
        flex: 7;
    }
    .tech-section:nth-child(2n){
        flex-direction: column-reverse;
    }
}