.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  width: 100%;

}

.burger-menu{
  display: none;
  position: relative;
}

.open{
  position: absolute;
}
.nav-items {
  display: flex;
  margin-right: 50px;
  gap: 1em;
  justify-content: space-between;
  background-color: rgb(49, 133, 155);
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 11px 11px 20px 4px rgba(0, 0, 0, 0.1);
}

.navbar-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: rgb(193, 227, 236);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.navbar-item:hover {
  color: rgb(193, 227, 236);
}

.navbar-item:hover .dropdown {
  display: block;
  width: max-content;
  border-radius: 5px;
}


.dropdown a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown a:hover {
  color: rgb(49, 133, 155);
  background-color: #f0f0f0;
  border-radius: 5px;
}

.subitems {
  display: none;
  transition: all 2s ease;
  width: max-content;
}

.dditem:hover .subitems {
  display: block;
  position: absolute;
  left: 145px;
  top: -1px;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
  height: 50px;
  width: 175px;
  height: px;
}

.logo img:hover {
  cursor: pointer;
}

.nav-contact {
  font-size: 1.1rem;
}

.nav-contact:hover {
  cursor: pointer;
  color: rgb(49, 133, 155);
  text-decoration: underline;
}

.menu{
  display: flex;
  width: 100%;
  padding: 2rem;
  background-color: rgb(49, 133, 155);
  color: white;
  margin:30px;
  align-items: center;
  transition: all 1s linear;
  border-radius: 1rem;
  z-index: 999;
  position: absolute;
}

.menu-item{
  margin-bottom: 15px;
}
.menu-item h5{
  color: white;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.burger-menu .open{
  font-size: 2rem;
  top: 0px;
  color: rgb(49, 133, 155);
}

.burger-menu .close{
  font-size: 1.2rem;
  display: none;
}

.menu-sub-item Link{
  color: white;
}

.menu-content{
  color:white;
  margin-bottom: 0.5rem;
}

Link{
  color:white
}

@media screen and (max-width: 770px){
  .nav-items {
    display: none;
  }
  .nav-contact{
    display: none;
  }
  .burger-menu{
    display: block;
    position: relative;
    top: -20px;
  }
}
