.formContainer{
    height: 70vh;
    display: flex;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conForm{
    flex:5
}

.conForm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 2rem;
    box-shadow: 7px 7px 18px -4px rgba(0,0,0,0.1);
}

.contactDetails{
    flex:5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.contactDetails img{
    width: 70%;
    height: 50%;
}

input{
    border: 1px solid rgba(0, 0, 0,0.2);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: .5rem;
    width: 100%;
    font-size: 1rem;
}

input:active{
    border: 1px solid rgba(0, 0, 0,0.5);
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume label{
    font-size: 1rem;
}

label{
    color: rgba(0, 0, 0,0.5);
}
textarea{
    margin-bottom: 10px;
    border-radius: .5rem;
    width: 100%;
    padding: 15px;
    font-size: .8rem;
}

button{
    padding: 15px;
    width: 50%;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(49,133,155);
    color: white;
}