* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    margin-top: 10px;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-top: 1px solid grey;
}

.logo-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 7;
    align-items: flex-start;
}

.logo-content img {
    width: 10em;
}

.logo-content p {
    font-size: 1em;
    padding: 0 0 0 10px;
    font-weight: 300;
}

.company-contents {
    display: flex;
    gap: 2em;
}

.research {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.research a{
    text-decoration: none;
    color: grey;
}

.research a:hover{
    color: rgb(49,133,155);
    text-decoration: underline;
}

.legal {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    cursor: pointer;
}

.copy-right a {
    text-decoration: none;
    color: grey;
}

.terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.terms p {
    color: grey;

}

.terms p:hover{
    color:rgb(49,133,155)
}

.copy-right a {
    color: grey;
}

.copy-right a:hover{
    color: rgb(49,133,155);
}