.footer {
    margin-top: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    border-top: 1px solid grey;
}

.logo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-content img {
    width: 10em;
}

.logo-content p {
    font-size: 1em;
    padding: 0 0 0 10px;
    font-weight: 300;
}

.company-contents {
    display: flex;
    flex-direction: column;
    gap : .5rem
}

.company-content-link:hover{
    color: rgb(49, 133, 155);
}

.research {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.research a {
    text-decoration: none;
    color: grey;
}

.research a:hover {
    color: rgb(49, 133, 155);
    text-decoration: underline;
}

.legal {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    cursor: pointer;
}

.copy-right a {
    text-decoration: none;
    color: grey;
}

.terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.terms p {
    color: grey;

}

.terms p:hover {
    color: rgb(49, 133, 155)
}

.copy-right a {
    color: grey;
}

.copy-right a:hover {
    color: rgb(49, 133, 155);
}

.map iframe{
    width: 300px;
    height: 200px;
    border: none;
}

.contact p{
    line-height: 2rem;
}

@media screen and (max-width:770px) {
    .footer-content {
        flex-direction: column;
        gap:3rem;
    }
    .legal {
        flex-direction: column;
    }
}

@media screen and (max-width:450px){
    .company-contents {
        flex-direction: column;
    }
}