@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.home-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 105vh;
    gap: 25rem;
    padding: 0 0 0 120px;
}
html, body{
    scroll-behavior:smooth;
}
.home-page .home-content-image{
    width: 40rem;
    height: 40rem;
    margin-bottom: 0;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1545987796-200677ee1011?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
    border-top-left-radius: 100%;
}


.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.home-content h1{
    font-size: 100px;
    color:rgb(49,133,155);
}

.home-content p{
    font-size: 25px;
}

 h1 sup{
    font-size: .5em;
 }