.contactForm{
    height: fit-content;
    display: flex;
    padding: 35px;
    gap: 2em;
}

.ContactDetails{
    flex: 3.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5em 0;
    align-items: center;
    background-image: linear-gradient(to bottom, #31859B 0%, #8ccae2 100%);
    border-radius: 2rem;
    color: white;
}

.cont-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.socialCon{
    display: flex;
    gap: 1rem;
}
.socialCon a{
    color: white;
    font-size: 1.25rem;
    transition: all .5s ease;
}

.socialCon a:hover{
    color: #000000;
}
.con-section h3{
    font-size: 1.25rem ;
}

.con-section a{
    color: white;
    font-weight: bold;
}

.form{
    flex: 6.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form .name{
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    width: 100%;
}

.Sentbtn{
    padding: 15px;
    width: 50%;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.Sentbtn:hover{
    background-color: rgb(49,133,155);
    color: white;
}

@media screen and (max-width:800px) {
    .contactForm{
        flex-direction: column-reverse;
    }

    .ContactDetails{
        margin: 1.5rem;
        padding: 2rem 1.5rem;
    }

}

@media screen and (max-width:300px) {
    .ContactDetails{
        margin: 0.1rem;
        padding: 1.5rem 1rem;
    }

    .ContactDetails h3 {
        font-size: 1rem;
    }

    .ContactDetails p {
        font-size: 0.8rem;
    }

    .con-section h3 {
        margin-bottom: 0.3rem;
    }

    .con-section .socialCon {
        gap: 0.8rem;
    }

    .socialCon a{
        font-size: 0.8rem;
    }

}